*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: rgb(36, 36, 36);
}

.container-il{
    width: 100%;
    margin: 0 auto;
    
}
.illustration{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
    padding: 30px;
}


.container-il img{
    width: 400px;
}

.container-il .illustration:nth-of-type(3) img{
    width: 80%;
}

.container-il .illustration:nth-of-type(5) img{
    width:60%;
}

@media (max-width:480px){

    .container-il .illustration:nth-of-type(3) img{
        width: 300px;
    }
    .container-il .illustration:nth-of-type(5) img{
        width:95%;
    }
    
}
